<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Konversi Uang</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Hasil Konversi</div>
        <hr>
            <tr>
                <th>Dolar ke INR     : </th><td th:text="${inr}"></td></br>
                <th>Dolar ke EUR   : </th><td th:text="${eur}"></td></br>
                <th>Dolar ke SAR : </th><td th:text="${sar}"></td></br>
            </tr>
    </body>
</html>
